body#popup{
	width:320px;
	height:500px;
	padding:15px;
	
}
h3{
	color:#333;
	padding:0;margin:0;
}
h1{
	color:#333;
	display:inline;
}

#mic{
	float:right;
	font-size:2.5em;
	margin-right:15px;
	color:#333;
	position:relative;
	top:0px;
}

#cardspopup.nocards{
	top: 10px;
}
#cardspopup{
	position:relative;
	top:0px;
}
#popup #spracheingabe .center{
	width:320px;
	padding-top:25px;
}
#popup #spracheingabe{
	font-size:20px;
	opacity:0.9;
}